
body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmCToYN2VawM3wVa06OylGAm0ysqi6W_PSuw&s") ; 
 background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
      background-size: 800px;
}
